<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VGRDB</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
</head>
<body class="has-navbar-fixed-top has-background-light">
  <nav id="navbar" class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/games">VGRDB</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/games">All Games</a>
        <% if (user) { %>
          <a class="navbar-item" href="/games/new">Add Game</a>
        <% } %>
      </div>
      <div class="navbar-end">
        <% if (user) { %>
          <a class="navbar-item" href="/logout">Log Out</a>
          <% } else { %>
            <a class="navbar-item" href="/auth/google">Login with Google</a>
            <% } %> 
      </div>   
    </div>
  </nav>

  
