<%- include('../views/partials/header') %>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>A Videogame Community Review Site</p>
</body>

<%- include('../views/partials/footer') %>