html {
  height: 100vh;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  height: auto; 
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  flex-direction: row;
}

#navbar {
  background-color: rgb(196, 26, 26);
  padding: 0px 30px;
  font-weight: bold;
  /* font: 24px; */
}

#index-art {
  height: 100px;
}

#details-art {
  height: 40vh;
}

#index-review {
  width: 55%;
}

#index-view {
  padding: 20px;
}

#games-list {
  width: 90%;
}

#index-container {
  display: flex;
  justify-content: center;
}

#show-view {
  padding: 20px;
}

#show-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#reviews-table {
  width: 90%;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#new-form, #add-reviews, #edit-reviews {
  display: flex;
  padding: 20px 60px;
  width: 75%;
  flex-direction: column;
  justify-content: center;
}

#splash-page {
  background-image: url(https://i.imgur.com/V0YwKOf.jpg);
  background-size: cover;
}

#splash-page, #splash-head {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

#splash-login, #splash-games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#edit-button, #delete-button {
  width: 120px;
}

#splash-hr {
  background-color:#cfcfcf;
  width: 100%;
  margin-top: 0;
}