body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  flex-direction: row;
}

#index-art {
  height: 100px;
}

#details-art {
  height: 40vh;
}

#index-review {
  width: 55%;
}

#index-view {
  padding: 20px;
}

#games-list {
  width: 90%;
}

#index-container {
  display: flex;
  justify-content: center;
}

#show-view {
  padding: 20px;
}

#show-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#reviews-table {
  width: 90%;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}