body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  flex-direction: row;
}

#index-art {
  height: 100px;
}

#details-art {
  height: 50vh;
}