<%- include('../../views/partials/header') %>

<form id="new-form" action="/games" method="POST">
  <label>Title:</label>
  <input type="text" name="name">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <input type="submit" value="Add Game">
</form>

<%- include('../../views/partials/footer') %>