<%- include('../partials/header') %>

<div class="container" id="new-form">
  <form action="/games" method="POST">
    <label>Title:</label>
    <br><input type="text" required name="name">
    <br><label>Release Year:</label>
    <br><input type="text" name="releaseYear">
    <br><label>Box Art Image Link:</label>
    <br><input type="text" name="boxArt">
    <br><label>Review:</label>
    <textarea class="textarea" rows="15" minlength="200" placeholder="minimum 200 characters" 
      required name="review"></textarea>
    <input class="button is-primary is-normal" type="submit" value="Add Game">
  </form>
</div>


<%- include('../partials/footer') %>