<%- include('../partials/header') %>

<br><br><div class="container" id="edit-reviews">
  <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
    <label>Edit Review:</label>
    <textarea class="textarea" rows="15" minlength="200" placeholder="minimum 200 characters" 
      required name="review"><%= review.review %></textarea>
    <input class="button is-primary" type="submit" value="Edit Review">
  </form>
</div>


<%- include('../partials/footer') %>