<%- include('../partials/header') %>

<section class="container" id="add-reviews">
  <% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/games/<%=gameID%>/reviews">
    <label>Review:</label>
    <textarea class="textarea" rows="15" minlength="200" placeholder="minimum 200 characters" 
      required name="review"></textarea>
    <input class="button is-primary" type="submit" value="Add Review">
  </form>
  <% } %>
</section>

<%- include('../partials/footer') %>